/* collapsible.css */
.collapsible {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.collapsible-header {
  padding: 10px;
  cursor: pointer;
}

.collapsible-content {
  padding: 10px;
  display: none;
}

/* Specific callout styles */
/*Danger*/
.collapsible.danger {
  border-color: #ef6e65;
}
.collapsible.danger .collapsible-header {
  background-color: #ef6e65;
  color: white;
}
.collapsible.danger .collapsible-header::before {
  content: "U+1F525"; /* Unicode representation of the emoji */
  display: inline-block;
  margin-right: 5px; /* Adjust spacing as needed */
}


/*Info*/
.collapsible.info {
  border-color: #74b9f1;
}
.collapsible.info .collapsible-header {
  background-color: #74b9f1;
  color: white;
}
.collapsible.info .collapsible-header::before {
  content: "U+2139"; /* Unicode representation of the emoji */
  display: inline-block;
  margin-right: 5px; /* Adjust spacing as needed */
}

/*Warning*/
.collapsible.warning {
  border-color: #e8ae71;
}
.collapsible.warning .collapsible-header {
  background-color: #e8ae71;
  color: white;
}
.collapsible.warning .collapsible-header::before {
  content: "U+26A0"; /* Unicode representation of the emoji */
  display: inline-block;
  margin-right: 5px; /* Adjust spacing as needed */
}

/*Qutotation*/
.collapsible.quote {
  border-color: #dbdada;
}
.collapsible.qutoe .collapsible-header {
  background-color: #dbdada;
  color: white;
}
.collapsible.qutoe .collapsible-header::before {
  content: "U+201E"; /* Unicode representation of the emoji */
  display: inline-block;
  margin-right: 5px; /* Adjust spacing as needed */
}